nav{
	background:#transparent;
	height:50px;
	position:fixed;
	top:0;
	width:100%;
	background-color: rgba(255,255,255,0.1);
	z-index:995;
	
}

#banner{
	background:transparent;
	height:700px;
}

nav ul{
	list-style:none;
	margin:0;
	float:right;

}



nav ul li,nav .logo {
	display: inline-block;
	line-height: 50px;
	margin-right:20px;
}

nav ul li a{
	line-height: 50px;
	text-decoration: none;
	display:inline-block;
	height:inherit;
	color:#fff;
	text-align: center;
	min-width:40px;
	padding:0 20px;
}

nav ul li a:hover
{
	border-bottom: 3px solid #fff;
	transition: border 0.2s;
}


nav div.logo{
	float:left;
	padding-left: 25px;	
}

nav div.logo a{
	text-decoration: none;
}

div#banner .inner{
	max-width:300px; 
	text-align:center;
	margin:0 auto;
	position: relative;
	top:150px;
	color:#fff;
}

div#banner .inner h1{
	margin:0;
}

button{
	border:none;
	background-color: #333;
	color:#eee;
	padding:10px;
	margin-top: 10px;

}

div#banner button{
	padding:18px 30px;
	border-radius: 2px;
}


div#banner .inner .more{
	margin-top:260px;

}

.sub-heading{
	line-height:30px;
	padding:20px;
}


.logo{
	font-size:20px;
	font-weight:700;
	letter-spacing: 1px;
}

.logo a{
	color:#fff;
}

.green-section{
	text-align: center;
	background-color: #089DB0;
	color:#fff;
	padding:100px 0;
}

section.green-section .hr{
	background: #078794;
	width:60%;
	
}

section.green-section .wrapper .icon-group .icon
{
	display:inline-block;
	width:80px;
	height:80px;
	background: #0D6F7C;
	transform: rotate(45deg);
	margin:20px;
}

div.icon-group
{
	margin-top: 200px;
}

div.icon-group span
{
	border-radius: 5px;
}

div.wrapper{
	max-width: 1080px;
	margin:0 auto;
	min-height: 500px;
	
}

div.wrapper h2{
	margin:0;
	font-size: 30px;
}

div.hr{
	width:100%;
	height:2px;
	margin:20px auto 50px auto;
}


section.gray-section div.img-section
{
	width:45%;
}


section.gray-section div.text-section 
{
	width:55%;
	color:#fff;
	position: relative;
	top:68px;
	left:50px;


}

div.img-section img{
	width:100%;
}

div.article-preview > div
{
	float:left;
	font-size: 0;

}

div.article-preview
{
	background: #252F34;
}

div.article-preview h2
{
	margin-bottom: 50px;
}

div.article-preview p
{
	font-size:18px;
	letter-spacing: 1px;
	width:90%;
}

/*div.article-preview:after
{
	content:'';
	display: block;
	clear:both;
}
*/
div.article-preview:nth-child(odd)
{
	background-color: rgba(5,5,25,0.9);
}

section.purple-section
{
	background: #262149;
	color:#fff;
	padding:80px;

}

section.purple-section h2
{
	margin:0;
}


section.purple-section .heading-wrapper
{
	text-align: center;
}

section.purple-section .hr
{
	background: #373259;
	width:60%;
	margin-top: 30px;
}

.card
{
	width:50%;
	float:left;
	min-height: 300px;
	padding:50px;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	/*border: 1px solid white;*/

}

.clearfix:after
{
	content:'';
	display: block;
	clear:both;
}

div.card-group .card h3
{
	font-size:22px;
}

.card p
{
	font-size:18px;
	letter-spacing: 1px;
}


.card:first-child
{
	background: rgba(0,0,0,0.05);
}

.card:nth-child(2)
{
	background: rgba(0,0,0,0.09);
}
.card:nth-child(3)
{
	background: rgba(0,0,0,0.13);
}
.card:nth-child(4)
{
	background: rgba(0,0,0,0.17);
}
.card:nth-child(5)
{
	background: rgba(0,0,0,0.21);
}
.card:nth-child(6)
{
	background: rgba(0,0,0,0.25);
}


footer
{
	background:transparent;
	color:#fff;
	min-height: 400px;
	text-align: center;

}

ul.share-group
{
	display:block;
	width:1080px;
	margin:0 auto;
	padding:50px;
}

.share-group li
{
	display:inline-block;
	padding:30px;
}

.copy
{
	padding-bottom: 20px;

}

.main-wrapper
{
	background: #444 url(../img/banner1.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	
	background-position: center;
	display:none;
}

div.mask
{
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: rgba(0,0,0,0.4)	;
	display:none;
	z-index:998;
}

div#sidebar
{
	width:300px;
	background:rgba(0,0,0,0.6);
	color:#Fff;
	position:fixed;
	top:0;
	right:-300px;
	bottom:0;
	padding: 20px 0;
	transition: right 0.5s;
	z-index:999;

}

div#sidebar ul
{
	list-style: none;
	padding:0;
}

div#sidebar ul a
{
	padding:15px;
	padding-left:30px;
	display:inline-block;
	text-decoration: none;
	color:#fff;
	width:100%;
}

div#sidebar ul a:hover
{
	background:#444;
}

button#backToTop
{
	position:fixed;
	right:40px;
	bottom:40px;
	display:none;
	z-index:10;
}











